# Application
APP_ENV=development
APP_TIMEZONE=Asia/Seoul

# Public data API keys
KMA_SERVICE_KEY= "sokVID3kR2WJFSA95CdlDw"
SEOUL_API_KEY= "서울시 공공데이터 기반 지역별 유동인구 및 기상 정보 조회 서비스 개발"

# External API base URLs
KMA_API_BASE_URL= https://apihub.kma.go.kr/
SEOUL_API_BASE_URL=http://openapi.seoul.go.kr:8088/

# Cache (optional for the first implementation)
REDIS_URL=redis://localhost:6379/0
